  body {
      color: #FEF0BF;
      font-size: 22px;
      text-align: center;
    }
h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */ 
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-weight: normal;
  text-align: left;
  line-height: 1;
  margin-bottom: 0em;
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  padding: 0.em;
  font-weight: normal;
  color: black;
  margin-top: 0em;
}
h2 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */ 
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-weight: normal;
  left: 208px;
  font-size: 4em;
  line-height: 1;
  margin-bottom: 0em;
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  padding: 0em;
  font-weight: normal;
  color: black;
  margin-top: 0em;
  position: absolute;
}
h3 {
  padding: 0.5em;
  font-weight: normal;
  color: black;
  margin-top: 0em;
  font-weight:bold
}
ul{
  padding: .5em;
  font-weight: normal;
  color: black;
  margin-top: 0em;
  font-weight:thin;
  list-style-type: none;
 margin: 0;
padding: 0;

}
h4{
  padding: .5em;
  font-weight: normal;
  color: black;
  margin-top: 2em;
  font-weight:bold
}
img.profile {
  max-width: 150px;
}
a{
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: black;
}
body {
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

body.colorful {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

.bounce{
  animation-duration: 2s;
  animation-name: bounceIn;
}

@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}

}

@keyframes bounceIn { 
  0%{transform:scale(.5);
    opacity: 0;}
  30%{transform: scale(.8); opacity:1;}
  60%{transform: scale(.5); opacity:1;}
  100%{transform: scale(1);}
}/*
h1 {animation-duration: 2s;
animation-name: bounceIn;}
h2 {animation-duration: 2s;
animation-name: bounceIn;}
*/